/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000; /* Black background */
  color: #fff; /* White text */
  font-family: Arial, sans-serif;
}

/* Loader */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loader {
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px;
}

.loader .loading {
  background: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
  animation: load 0.8s ease infinite;
}

.loader .loading.one {
  animation-delay: 0.3s;
}
.loader .loading.two {
  animation-delay: 0.4s;
}
.loader .loading.three {
  animation-delay: 0.5s;
}

@keyframes load {
  0% {
    width: 30px;
    height: 30px;
  }
  50% {
    width: 20px;
    height: 20px;
  }
}

/* Main Content */
#content {
  opacity: 0;
  display: none; /* Initially hidden */
  text-align: center;
}

h1 {
  font-size: 5rem;
  color: #fff;
}

/* Buttons */
a.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 48px;
  border-radius: 500px;
  transition: filter 0.3s ease, background-color 0.3s ease; /* Smooth brightness and color transition */
  border: 1px solid transparent;
  letter-spacing: 2px;
  width: 200px; /* Fixed width */
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 0; /* Remove side padding since width is fixed */
  color: #fff;
  height: 48px; /* Fixed height */
  text-decoration: none;
  box-sizing: border-box;
}

a.button:hover {
  filter: brightness(50%); /* Smoothly reduce brightness */
}


.arrow {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
}
